.content-top{
    width: 100%;
    display: table;
    margin: 30px 0px;
}
.content-top h2{
    float: left;
    font-size: 24px;
    margin-bottom: 0px;
    text-transform: uppercase;
}
.content-top a{
    float: right;
    margin-top: -5px;
}
.error-text{
    color: #ff0000 !important;
    font-size: 12px;
}

.status-admin a{
    background: #ff0000;
    display: table;
    color: #fff;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.status-edit{
    background: #337ab7 !important;
}
.status-view{
    background: #34a544 !important;
}
.form-search{
    margin-bottom: 30px;
}
.form-search form button{
    border: 1px solid #ced4da;
}
.form-search form .form-group{
    margin-right: 5px;
}
.image-form img{
    width: 100%;
    height: auto;
}